latico-commons-webservice-wsdl/doc/ddps/ManageResourceInventory/IIS/xsd/Inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2008 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tmforum.org/mtop/nri/xsd/rinv/v1" xmlns:mlsnr="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" xmlns:nam="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" xmlns:md="http://www.tmforum.org/mtop/fmw/xsd/md/v1" xmlns:me="http://www.tmforum.org/mtop/nrf/xsd/me/v1" xmlns:tp="http://www.tmforum.org/mtop/nrf/xsd/tp/v1" xmlns:eq="http://www.tmforum.org/mtop/nrf/xsd/eq-inv/v1" xmlns:tl="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" xmlns:snc="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" xmlns:fdfr="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" xmlns:epg="http://www.tmforum.org/mtop/nra/xsd/epg/v1" xmlns:pg="http://www.tmforum.org/mtop/nra/xsd/pg/v1" xmlns:cc="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" xmlns:sncroute="http://www.tmforum.org/mtop/nrf/xsd/route/v1" xmlns:fdfrroute="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1" xmlns:alm="http://www.tmforum.org/mtop/nra/xsd/alm/v1" targetNamespace="http://www.tmforum.org/mtop/nri/xsd/rinv/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/nam/v1" schemaLocation="../../../Framework/IIS/xsd/NamingDefinitions.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/fmw/xsd/md/v1" schemaLocation="../../../Framework/IIS/xsd/Md.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/me/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Me.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/tp/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tp.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/eq-inv/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/EquipmentInventory.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/cc/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Cc.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/tl/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Tl.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Snc.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfr/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Fdfr.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/snc/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Snc.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/route/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/Route.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nrf/xsd/fdfrroute/v1" schemaLocation="../../../NetworkResourceFulfillment/IIS/xsd/FdfrRoute.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nra/xsd/epg/v1" schemaLocation="../../../NetworkResourceAssurance/IIS/xsd/Epg.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nra/xsd/pg/v1" schemaLocation="../../../NetworkResourceAssurance/IIS/xsd/Pg.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/nra/xsd/alm/v1" schemaLocation="../../../NetworkResourceAssurance/IIS/xsd/EventAlarm.xsd"/>
	<xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" schemaLocation="../..sages.xsd"/>
	<xsd:element name="InventoryData" type="tns:InventoryDataType"/>
	<xsd:element name="HistoryAlarm" type="alm:AlarmListType"/>
	<xsd:complexType name="InventoryDataType">
		<xsd:sequence>
			<xsd:element name="md" type="md:ManagementDomainType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="meList" type="me:ManagedElementListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="tpList" type="tp:TerminationPointListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="equipmentOrHolderList" type="eq:EquipmentOrEquipmentHolderListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ccList" type="cc:CrossConnectListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="topologicalLinkList" type="tl:TopologicalLinkListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="sncList" type="snc:SubnetworkConnectionListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fdfrList" type="fdfr:FlowDomainFragmentListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="sncRouteList" type="tns:SubnetworkConnectionRouteListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fdfrRouteList" type="tns:FlowDomainFragmentRouteListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="epgList" type="epg:EquipmentProtectionGroupListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="pgList" type="pg:ProtectionGroupListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="topoNodeList" type="mlsnr:TopoNodeListType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubnetworkConnectionRouteType">
		<xsd:sequence>
			<xsd:element name="sncName" type="nam:NamingAttributeType" minOccurs="0"/>
			<xsd:element name="routeList" type="sncroute:RouteListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="SubnetworkConnectionRouteListType">
		<xsd:sequence>
			<xsd:element name="sncRoute" type="tns:SubnetworkConnectionRouteType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FlowDomainFragmentRouteType">
		<xsd:sequence>
			<xsd:element name="fdfrName" type="nam:NamingAttributeType" minOccurs="0"/>
			<xsd:element name="routeList" type="fdfrroute:FlowDomainFragmentRouteType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FlowDomainFragmentRouteListType">
		<xsd:sequence>
			<xsd:element name="fdfrRoute" type="tns:FlowDomainFragmentRouteType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
