latico-commons-webservice-wsdl/doc/ddps/ManageResourceInventory/IIS/wsdl/MultiLayerSubnetworkRetrieval/MultiLayerSubnetworkRetrievalMessages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- mTOP DDP - OM ManageResourceInventory - Copyright TeleManagement Forum 2007 -->
<wsdl:definitions name="mTOP-MultiLayerSubnetworkRetrievalV1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://www.tmforum.org/mtop/fmw/xsd/hdr/v1" xmlns:mlsnr="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" xmlns:tns="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0" targetNamespace="http://www.tmforum.org/mtop/mri/wsdl/mlsnr/v1-0">
  <wsdl:documentation>
    <p>DDP: ManageResourceInventory</p>
    <p>Module: MultiLayerSubnetworkRetrieval Service Interface WSDL Message Module</p>
    <p>Description: This module contains all the mTOP MultiLayerSubnetworkRetrieval Service Interface WSDL message definitions.</p>
    <p>Version: 1.0</p>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.tmforum.org/mtop/mri/xsd/mlsnr/v1" schemaLocation="../../xsd/MultiLayerSubnetworkRetrievalMessages.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsRequest">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOs request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsResponse">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOs response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllMultiLayerSubnetworksWrtOsException">
    <wsdl:documentation>
      <p>The getAllMultiLayerSubnetworksWrtOs exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllMultiLayerSubnetworksWrtOsException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksRequest">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworks request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksResponse">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworks response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopLevelMultiLayerSubnetworksException">
    <wsdl:documentation>
      <p>The getAllTopLevelMultiLayerSubnetworks exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopLevelMultiLayerSubnetworksException"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesRequest">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesRequest"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesResponse">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getContainingMultiLayerSubnetworkNamesException">
    <wsdl:documentation>
      <p>The getContainingMultiLayerSubnetworkNames exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getContainingMultiLayerSubnetworkNamesException"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworkException">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetwork exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworkException"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworksIteratorRequest">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworksIterator request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworksIteratorRequest"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworksIteratorResponse">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworksIterator response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworksIteratorResponse"/>
  </wsdl:message>
  <wsdl:message name="getMultiLayerSubnetworksIteratorException">
    <wsdl:documentation>
      <p>The getMultiLayerSubnetworksIterator exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getMultiLayerSubnetworksIteratorException"/>
  </wsdl:message>
  <wsdl:message name="getAllTopoNodeListRequest">
    <wsdl:documentation>
      <p>The getAllTopoNodeList request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopoNodeListRequest"/>
  </wsdl:message>
  <wsdl:message name="getAllTopoNodeListResponse">
    <wsdl:documentation>
      <p>The getAllTopoNodeList response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopoNodeListResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllTopoNodeListException">
    <wsdl:documentation>
      <p>The getAllTopoNodeList exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:getAllTopoNodeListException"/>
  </wsdl:message>
  
   <wsdl:message name="calculateSNCRouteRequest">
    <wsdl:documentation>
      <p>The calculateSNCRoute request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:calculateSNCRouteRequest"/>
  </wsdl:message>
  <wsdl:message name="calculateSNCRouteResponse">
    <wsdl:documentation>
      <p>The calculateSNCRoute response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:calculateSNCRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="calculateSNCRouteException">
    <wsdl:documentation>
      <p>The calculateSNCRoute exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:calculateSNCRouteException"/>
  </wsdl:message>

   <wsdl:message name="takeOverSNCRequest">
    <wsdl:documentation>
      <p>The takeOverSNC request message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:takeOverSNCRequest"/>
  </wsdl:message>
  <wsdl:message name="takeOverSNCResponse">
    <wsdl:documentation>
      <p>The takeOverSNC response message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopHeader" element="hdr:header"/>
    <wsdl:part name="mtopBody" element="mlsnr:takeOverSNCResponse"/>
  </wsdl:message>
  <wsdl:message name="takeOverSNCException">
    <wsdl:documentation>
      <p>The takeOverSNC exception message.</p>
    </wsdl:documentation>
    <wsdl:part name="mtopBody" element="mlsnr:takeOverSNCException"/>
  </wsdl:message>
</wsdl:definitions>
